@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-bottom: 4px;
}

form input[type=text],
form input[type=number],
form input[type=email],
form textarea,
form select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    font-family: inherit;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #bbb;

    &:focus {
        border-color: #000;
    }
}

form button,
form input[type=submit],
form input[type=button],
.btn {
    padding: 10px 30px;
    font-size: 16px;
    background-color:#000;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;

    &:hover {
        background-color: #333;
    }

    &.green {
        background-color: yellowgreen;
    }
    
    &.red {
        background-color: crimson;
    }
}

table {
    border-collapse: collapse;

    .btn {
        padding: 6px 20px;
        font-size: 14px;
    }
}

table th {
    background-color: black;
    color: #fff;
}

table th,
table td {
    padding: 10px 20px;
}

table tr:not(:last-child) {
    border-bottom: 1px solid #000;
}